<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- custom css -->
	<link rel="stylesheet" href="styles.css">
	<link href='https://fonts.googleapis.com/css?family=Tillana' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
	<nav class="menuBar navbar navbar-default navbar-fixed-top">
		<div class=" container">
			{{#if user}}
			<p class="navText">Welcome {{user.username}}</p>
			<a href="/logout"><button class="navBtn logoutButton btn btn-primary pull-right">Logout</button></a>
			{{else}}
			<p class="navText">Please sign in for a personal experience</p>
			<a href="/signup"><button class="navBtn signUpButton btn btn-primary pull-right">Sign Up</button></a>
			<a href="/login"><button class="navBtn loginButton btn btn-primary pull-right">Log In</button></a>
			{{/if}}
		</div>
	</nav>
</div>
	<div class="row col-md-12">
		<h1 class="blogTitle text-center">The Blog About Nothing</h1>
		<hr>
	</div> <!-- end of title row -->
	<div class="row blog-container">
		<div class="newBlogPost text-center col-md-8 col-md-offset-2">
			<button class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#newBlogButton">add a post</button>
			<form id="newBlogButton" class="newBlog collapse">
				<input type="text" class="newTitle form-control" placeholder="Title" name="title">
				<input type="text" class="newCategory form-control" placeholder="Category" name="category">
				<textarea type="text" class=" main newblogContent form-control" placeholder="Content" name="blogContent"></textarea>
				<input type="submit" class="createButton btn btn-primary form-control">
			</form>
		</div> {{!-- end new blog post class --}}
	</div>  {{!-- end blog-container row --}}
	<hr>
	<div class="insertContainer">	
	<script id="blog-template" type="text/x-handlebars-template">
	\{{#each blogs}}
	<div class="row">
		<div class="blog-inserts col-md-8 col-md-offset-2">
			<div class="blog-content" data-id=\{{_id}}>
				<div class="editFormDiv">
				{{!-- css form effect --}}
				<button data-toggle="collapse" data-target="#edit-\{{_id}}"class="edit btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  Edit</button>
				<button class="delete btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Remove</button>
				<form class="editBlogForm form-group collapse" id="edit-\{{_id}}">
        	<input type="text" class="editTitle form-control" placeholder="Title" name="title">
        	<input type="text" class="editCategory form-control" placeholder="Category" name="category">
        	<textarea type="text" class=" main editBlogContent form-control" placeholder="Content" name="blogContent"></textarea>
        	<input type="submit" class="editSubmit btn btn-primary form-control" data-id=\{{_id}}>
        </form>
        </div> {{!-- end editFormDiv --}}
        {{!-- end css form effect --}}
        <small>\{{ date }}</small>
				<p class="category">Categoty: \{{ category }}</p>
				<h2 class="mainBlogTitle text-center">\{{ title }}</h2>
				<p class="blogPostContent">\{{ blogContent }}</p>
				\{{#each postedBy}}
				<p>Posted by: \{{ username }}</p>
				\{{/each}}
				{{!-- css comment form --}}
				<button data-toggle="collapse" data-target="#addComment-\{{_id}}"class="addComment btn btn-sm btn-primary">thoughts?</button>
				<form class="addCommentForm form-group collapse" id="addComment-\{{_id}}">
        	<textarea type="text" class=" main commentTitle form-control" placeholder="Comments" name="text"></textarea>
        	<input type="submit" class="commentSubmit btn btn-primary form-control" data-id=\{{_id}}>
        </form>
        <br>
        {{!-- pasta --}}
        \{{#each comments}}
        <div class="commentDiv">
					<p class="comment">Comments: \{{text}}</p>
					{{!-- css comment form --}}
					<button data-toggle="collapse" data-target="#editComment-\{{_id}}"class="commentButton editComment btn btn-sm btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
					<button data-id="\{{_id}}" class="commentButton deleteEditedComment btn btn-primary btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
					<form class="editCommentForm form-group collapse" id="editComment-\{{_id}}">
        		<textarea type="text" class=" main commentTitle form-control" placeholder="Comments" name="text"></textarea>
        		<input type="submit" class="commentSubmit btn btn-primary form-control" data-id=\{{_id}}>
        	</form>
       </div>
			\{{/each}}
        {{!-- pasta --}}
        </div> <!-- end blog content div -->
        {{!-- end css comment form --}} 
			</div> <!-- end blog inserts div -->
		</div>	<!-- end row div -->

	\{{/each}}
	</script>
	</div>	
</div> <!-- end of content div -->



	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- bootstrap js -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- handlebars js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="scripts.js"></script>
</body>
</html>