<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- custom css -->
	<link rel="stylesheet" href="styles.css">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
	<div class="row col-md-12">
		<h1 class="blogTitle text-center">The Blog About Nothing</h1>
		<hr>
	</div> <!-- end of title row -->
	<div class="row blog-container">
		<div class="newBlogPost col-md-8 col-md-offset-2">
			<button class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#newBlogButton">add a post</button>
			<form id="newBlogButton" class="newBlog collapse">
				<input type="text" class="newTitle form-control" placeholder="Title" name="title">
				<input type="text" class="newCategory form-control" placeholder="Category" name="category">
				<textarea type="text" class=" main newblogContent form-control" placeholder="Content" name="blogContent"></textarea>
				<input type="submit" class="createButton btn btn-primary form-control">
			</form>
		</div> {{!-- end new blog post class --}}
	</div>  {{!-- end blog-container row --}}
	<hr>
	<div class="insertContainer">	
	<script id="blog-template" type="text/x-handlebars-template">
	\{{#each blogs}}
	<div class="row">
		<div class="blog-inserts col-md-8 col-md-offset-2">
			<div class="blog-content" data-id=\{{_id}}>
				<div class="editFormDiv">
				
				{{!-- css form effect --}}
				<button data-toggle="collapse" data-target="#edit-\{{_id}}"class="edit btn btn-sm btn-primary pull-right">Edit</button>
				<button class="delete btn btn-primary btn-sm pull-right">Remove</button>
				<form class="editBlogForm form-group collapse" id="edit-\{{_id}}">
        	<input type="text" class="editTitle form-control" placeholder="Title" name="title">
        	<input type="text" class="editCategory form-control" placeholder="Category" name="category">
        	<textarea type="text" class=" main editBlogContent form-control" placeholder="Content" name="blogContent"></textarea>
        	<input type="submit" class="editSubmit btn btn-primary form-control" data-id=\{{_id}}>
        </form>
        </div> {{!-- end editFormDiv --}}
        {{!-- end css form effect --}}

				<h2 class="mainBlogTitle text-center">\{{ title }}</h2>
				<p class="blogPostContent">Content: \{{ blogContent }}</p>
				<p class="category">Category: \{{ category }}</p>
				{{!-- <button class="addComment btn btn-primary btm-sm">thoughts?</button> --}}
				{{!-- css comment form --}}
				<button data-toggle="collapse" data-target="#addComment-\{{_id}}"class="addComment btn btn-sm btn-primary">thoughts?</button>
				<form class="addCommentForm form-group collapse" id="addComment-\{{_id}}">
        	<textarea type="text" class=" main commentTitle form-control" placeholder="Comments" name="text"></textarea>
        	<input type="submit" class="commentSubmit btn btn-primary form-control" data-id=\{{_id}}>
        </form>
        </div> <!-- end blog content div -->
        {{!-- end css comment form --}} 
			</div> <!-- end blog inserts div -->
		</div>	<!-- end row div -->
			\{{#each comments}}
			<div class="row">
				<div class="commentsDiv col-md-8 col-md-offset-2">
					<p class="comment">Comments: \{{text}}</p>
					{{!-- css comment form --}}
					<button data-toggle="collapse" data-target="#editComment-\{{_id}}"class="editComment btn btn-sm btn-primary">edit comment</button>
					<button class="deleteEditedComment btn btn-primary btn-sm">remove comment</button>
					<form class="editCommentForm form-group collapse" id="editComment-\{{_id}}">
        		<textarea type="text" class=" main commentTitle form-control" placeholder="Comments" name="text"></textarea>
        		<input type="submit" class="commentSubmit btn btn-primary form-control" data-id=\{{_id}}>
        	</form>
        </div> <!-- end comments div -->
        {{!-- end css comment form --}} 
			</div> <!-- end comment row -->
			\{{/each}}
	\{{/each}}
	</script>
	</div>	
</div> <!-- end of content div -->



	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- bootstrap js -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- handlebars js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="scripts.js"></script>
</body>
</html>