<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- custom css -->
	<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
	<div class="row col-md-12">
		<h1 class="text-center">Time to Blog</h1>
	</div> <!-- end of title row -->
	<div class="blog-container">
		<div class="row">
			<div class="newBlogPost col-md-8 col-md-offset-2">
				<h1>Add new posting</h1>
				<form class="newBlog">
					<input type="text" class="newTitle" placeholder="Title" name="title">
					<input type="text" class="newCategory" placeholder="Category" name="category">
					<input type="text" class="newblogContent" placeholder="Content" name="blogContent">
					<input type="submit" class="newSubmit">
				</form>
			</div>
		</div>
	<div class="insertContainer">	
	<script id="blog-template" type="text/x-handlebars-template">
	\{{#each blogs}}
	<div class="row">
		<div class="blog-inserts col-md-8 col-md-offset-2">
			<div class="blog-content" data-id=\{{_id}}>
				<!-- bootstrap popup -->
				<!-- Button trigger modal -->
				<button type="button" class="edit btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
				  Edit
				</button>
				<button class="delete btn btn-primary btn-sm">Remove</button>
				<!-- Modal -->
				<div class="modal fade blogPostId" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-id=\{{_id}}>
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Edit Blog</h4>
				      </div>
				      <div class="modal-body">
				        <form class="editBlogForm">
				        	<input type="text" class="editTitle" placeholder="Title" name="title">
				        	<input type="text" class="editCategory" placeholder="Category" name="category">
				        	<input type="text" class="editBlogContent" placeholder="Content" name="blogContent">
				        	{{!-- <input type="submit" class="editSubmit"> --}}
				        <input type="submit" class="editSubmit btn btn-primary" data-id=\{{_id}}>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </form>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- end of bootstrap popup -->
				<p class="title">Title: \{{ title }}</p>
				<p class="category">Category \{{ category }}</p>
				<p class="blogContent">Content: \{{ blogContent }}</p>
				<p class="comments">Comments: \{{ comments }}</p>	
			</div>
		</div>
	</div>
	\{{/each}}
	</script>
	</div>	
</div> <!-- end of content div -->
</div>


	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- bootstrap js -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- handlebars js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="scripts.js"></script>
</body>
</html>